body {
    background-color: rgb(218, 205, 187);
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
      
}

.header_container {
    display: flex;
    align-items: center;
    background-color: #64615e55;
    width: 100%;    
    height: 75px;
    opacity: 0.7;
    padding: 0 20px;
}

.logo {
    background-color: rgb(199, 209, 218);
    border-radius: 12px;
    padding: 10px;
    margin: 0 10px;
}

.painel {
    display: flex;
    background-color: rgb(199, 209, 218);
    border-radius: 12px;
    padding: 10px;
    margin: 0 10px;
    margin-left: auto; /* Pushes the .painel to the right */
    margin-right: 20px; /* Adds space between .painel and the edge of the screen */
}

.painel a {
    text-decoration: none;
    flex-direction: row;
    color: black;
    padding: 30px;
    font-weight: bold;
    flex-direction: row;
}

.background {
    position: fixed; /* or 'absolute' depending on your needs */
    top: 0;
    left: 0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    background-image: url('/photos/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* to keep it behind other content */
    }
    
    .container {
    /* Your container styles here */
    /* This will now appear on top of the background */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content inside the box */
    width: 40%;
    height: 60%;
    margin-top: 50px;
    background-color: rgba(94, 90, 90, 0.2); /* Transparent background for glass effect */
    /* backdrop-filter: blur(10px); /* Adds the glass blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    border-radius: 12px; /* Rounded corners for a modern look */
}

.glass p {
    color: white;
    margin-top: 12px;
    font-size: 20px;
}

.aboutButton {
    background-color: coral;
    border-radius: 20px;
    width: 30px;
}


